body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.recipe {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul {
    position: absolute;
    height: 5%;
    left: 55%;
    transform: translate(-50%, 0);
    top: 55%;
    transform: translate(0, -50%);
}

.recipe {
    margin-bottom: 260px; /* Ajusta este valor según sea necesario para la separación deseada */
}




    
img {
    max-width: 25%;
    height: auto;
    border-radius: 8px;
}

.recipe2 {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul2 {
    position: absolute;
    
    left: 55%;
    transform: translate(-50%, 0);
    top: 182%;
    transform: translate(0, -50%);
}
.recipe3 {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul3{
    position: absolute;
    
    left: 55%;
    transform: translate(-50%, 0);
    top: 266%;
    transform: translate(0, -50%);
}
.recipe4 {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul4{
    position: absolute;
    
    left: 55%;
    transform: translate(-50%, 0);
    top: 350%;
    transform: translate(0, -50%);
}
.recipe5 {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul5 {
    position: absolute;
    
    left: 55%;
    transform: translate(-50%, 0);
    top: 435%;
    transform: translate(0, -50%);
}
.recipe6 {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul6{
    position: absolute;
    
    left: 55%;
    transform: translate(-50%, 0);
    top: 515%;
    transform: translate(0, -50%);
}
.recipe7 {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul7{
    position: absolute;
    
    left: 55%;
    transform: translate(-50%, 0);
    top: 592%;
    transform: translate(0, -50%);
}
.recipe8 {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul8 {
    position: absolute;
    
    left: 55%;
    transform: translate(-50%, 0);
    top: 665%;
    transform: translate(0, -50%);
}

.recipe9 {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul9 {
    position: absolute;
    
    left: 55%;
    transform: translate(-50%, 0);
    top: 745%;
    transform: translate(0, -50%);
}

.recipe10 {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul10{
    position: absolute;
    
    left: 55%;
    transform: translate(-50%, 0);
    top: 820%;
    transform: translate(0, -50%);
}

.recipe11 {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul11 {
    position: absolute;
    
    left: 55%;
    transform: translate(-50%, 0);
    top: 900%;
    transform: translate(0, -50%);
}

.recipe12 {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul12{
    position: absolute;
    
    left: 55%;
    transform: translate(-50%, 0);
    top: 985%;
    transform: translate(0, -50%);
}